<% title "About | Towing Service Kota Kinabalu" %>
<% description "Our mission is to provide the best towing service in Kota Kinabalu and throughout of Sabah. Trust your car with us." %>
<div id="page" class="container">
<div class="row">
<div class="col-md-8">
  <h1>About</h1>
  <p>We are the region's favorite vehicle towing and car carrier service provider. We pride ourselves as professionals and a "customer-first" company that aims to better serve the people of Sabah.</p>
  <p>As vehicle owners ourselves, we understand that your vehicle is valuable to you and it's our priority to handle them with care. We take every case seriously and efficiently to provide you with the safest, fastest towing experience possible.</p>
  <h2>Towing Service You Can Trust</h2>
  <p>Our company is fully licensed and insured. Our staff is well-trained and friendly, and we use only the latest towing equipments to provide our customers with the safest towing experience. We want to be the complete resource of all your emergency roadside situation and are 100% commited your satisfaction.</p>
  <h2>Specialized Towing Service</h2>
  <p>We have been in the towing, recovery and roadside service industry for over 10 years. Our team is always ready for any roadside situation and below are the types of services that we specialized in:</p>
  <ul>
    <li>
      <h3>Emergency Towing</h3>
      <p>If you're stranded in the middle of nowhere, call us and we will be there quickly. Accident removal available 24 hours everyday.</p>
    </li>
    <li>
      <h3>Machinery Towing</h3>
      <p>If you need your heavy machines delivered, get in touch with us.</p>
    </li>
    <li>
      <h3>Motorcycle Towing</h3>
      <p>Motorbikes are delicate! we'll make sure your bike is spotless and tow it carefully.</p>
    </li>
    <li>
      <h3>Boat Towing</h3>
      <p>Obviously boats and roads doesn't mix well. Let us handle it.</p>
    </li>
    <li>
      <h3>Long Distance Towing</h3>
      <p>State to state long distance towing available. Affordable.</p>
    </li>
    <li>
      <h3>Flat Tyre Change</h3>
      <p>We help you change your punctured tyre if you do not know how to. Only if you have a spare tyre.</p>
    </li>
    <li>
      <h3>Battery Jumpstart</h3>
      <p>If you can't find a jumpstart helper on the road, call us and we'll come and help you.</p>
    </li>
    <li>
      <h3>Petrol Delivery</h3>
      <p>Can't make it to the petrol station? We'll deliver it for you instead.</p>
    </li>
  </ul>
  <h2>Get in Touch</h2>
  <p><strong>Towing Service Kota Kinabalu</strong> is built on reputation and we intend to meet your every expectations. Trust us and you will be in good hands.</p>
  <hr>
  <center><%= link_to "CALL: 013 881 0882", "tel:+60138810882", class: "btn full-width btn-lg btn-danger" %></center>
</div>
<div class="col-md-4">
  <div id="testimonial-sidebar">
     <h4>Arrived Quickly. Great Customer Service!</h4>
     <p>I just wanted to say thank you for the prompt service. Mr. Lo was very friendly and really professional. This is my first time calling for towing and I was a little worried, but the experience was completely painless and the price is OK.</p>
     <p>I would definitely call Towing Service Kota Kinabalu again if I ever needed. Thanks. :)</p>
     <hr>
     <b>Linda Yong, Penampang</b>
  </div>
</div>
</div>
</div>