<% title "24 Hour Towing Service in Kota Kinabalu | Towing Service KK" %>
<% noindex %>

<div class="jumbotron">
  <div id="hero" class="container">
    <h1>24 Hour Towing Service in Kota Kinabalu</h1>
    <p>With so many car breakdowns and accidents in Kota Kinabalu each day, people need a reliable car towing service to help them out…</p>
    <p><%= link_to "+60 13 881 0882", 'tel:+60138810882', class: "btn btn-lg btn-danger" %></p>
    <p><i>Emergency Ready. Professional. Affordable.</i></p>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div id="redbox">
      <h2>Emergency <strong>Towing</strong></h2>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Fleet <strong>Towing</strong></h2>

    </div>	
  </div>
  <div class="col-md-6">
    <div id="redbox">
      <h2>Battery <strong>Jumpstart</strong></h2>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Tyre <strong>Change</strong></h2>

    </div>	
  </div>
</div>
<div class="subtitle"><h2><span class="red">Fast and Safe Delivery</span> of Your Car Guaranteed!</h2></div>
<hr>
<p>Our company is dedicated to the goal of providing expert car towing and roadside assistance services at affordable prices to build lasting customer relationships for years to come. We work tirelessly to exceed expectations on each call and we guarantee we will work to beat yours too. Our team has over 25 years of experience in towing and roadside services and is committed to providing you the best towing experience possible. We reinvented the car rental process to deliver you top-grade customer experience at low prices. Our commitment to price transparency is beyond comparison. You will get exactly what you want, without overpaying a single penny.</p>
</div>
