<div class="jumbotron">
  <div id="hero" class="container">
    <h1>24 Hour Towing Service in Kota Kinabalu</h1>
    <p>With so many car breakdowns and accidents in Kota Kinabalu each day, people need a reliable car towing service to help them out…</p>
    <p><a class="btn btn-danger btn-lg" href="#" role="button">+60 13 881 0882</a></p>
    <p><i>Emergency Ready. Professional. Affordable.</i></p>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <div id="redbox">

    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">

    </div>	
  </div>
</div>
</div>