<% title "Towing Service KK | 24 Hour Car Towing Services in Kota Kinabalu" %>
<% description "Professional car towing services in Kota Kinabalu. We offer reliable roadside assitance services in KK, Penampang, Tuaran and Putatan, whenever you need them." %>
<% content_for :for_head do %>
  <meta property="og:title" content="Towing Service KK" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="https://towingservicekk.com" />
  <meta property="og:description" content="KK's most reliable accident & roadside assitance service provider." />
<% end %>
<div class="jumbotron">
  <div id="hero" class="container">
    <h1><b>24 Hour</b> Car Towing Services in <strong>Kota Kinabalu</strong></h1>
    <p>With so many car breakdowns and accidents in Kota Kinabalu each day, people need a reliable car towing service to help them out…</p>
    <p><%= link_to "SMS: 013 881 0882", "sms:+60138810882", class: "btn btn-lg btn-danger" %></p>
    <p>Emergency Ready. Reliable. Affordable.</p>
  </div>
</div>
<div class="container">
<div id="contentbox">
<div class="subtitle"><h2><span class="red">Fast and Safe Delivery</span> of Your Vehicle</h2></div>
<p>We are dedicated to provide you with professional roadside assistance and car towing services in Kota Kinabalu at affordable prices. Our team are very experienced in handling car accidents, and are committed to provide you with the safest, fastest towing experience possible. We are ready for every roadside situation and are sure to exceed your expectations. If you need a reliable towing service provider in Kota Kinabalu, you are at the right place.</p>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div id="redbox">
      <h2>Emergency <strong>Towing</strong></h2>
      <p>Need help quickly? We are emergency ready and are able to reach you quickly. Whether it's your car or motorcycle, we can handle them with care in any roadside situation.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Fleet <strong>Towing</strong></h2>
      <p>There's no vehicle that is too heavy for us! Whether it's a bus or a fleet of cars, our team is ready with our heavy duty tow trucks.</p>
    </div>	
  </div>
  <div class="col-md-6">
    <div id="redbox">
      <h2>Corporate <strong>Towing</strong></h2>
      <p>Run a transport company? We keep your business from losing time and money being stuck on the road. We give you priority and respond immediately when you call.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Roadside <strong>Assistance</strong></h2>
      <p>Tyre puncture or battery issue? No problem! We offer you on the spot jumpstart, battery and tyre change services. We also deliver gas and fuel if required.</p>
    </div>	
  </div>
</div>
</div>
<a title="web analytics" href="http://statcounter.com/"
target="_blank"><img
src="//c.statcounter.com/11261793/0/25dc5651/0/" alt="web
analytics" style="border:none;"></a>
<div class="contact">
  <h3>Need <b>Help</b>?</h3>
  <p><%= link_to "SMS: 013 881 0882", "sms:+60138810882", class: "btn btn-lg btn-danger" %></p>
</div>
