<% title "Towing Service Kota Kinabalu | Best Sabah Towing Service" %>
<% description "Professional towing service in Kota Kinabalu, Sabah. We offer reliable accident and roadside assitance throughout Sabah, whenever you need them." %>
<% content_for :for_head do %>
  <meta property="og:title" content="Towing Service KK" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="https://towingservicekk.com" />
  <meta property="og:description" content="KK's most reliable accident & roadside assitance service provider." />
<% end %>
<div class="jumbotron">
  <div id="hero" class="container">
    <h1>Towing Service Kota Kinabalu</h1>
    <p>With so many car breakdowns and accidents in Kota Kinabalu each day, people need a reliable car towing service to help them out…</p>
    <%= link_to "CALL: 013 881 0882", "tel:+60138810882", class: "btn btn-lg btn-danger" %>
    <p>Emergency Ready. Professional. Affordable.</p>
  </div>
</div>
<div class="container">
<div class="contentbox">
<div class="subtitle"><h2><span class="red">Fast & Safe Delivery</span> of Your Vehicle</h2></div>
<p>We are dedicated to provide you with professional roadside assistance and car towing services in Kota Kinabalu at affordable prices. Our team are very experienced in handling car accidents, and are committed to provide you with the safest, fastest towing experience possible. We are ready for every roadside situation and are sure to exceed your expectations. If you need a reliable towing service provider in Kota Kinabalu, you are at the right place.</p>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div id="redbox">
      <h2>Emergency <strong>Towing</strong></h2>
      <p>Need help quickly? We are emergency ready and are able to reach you quickly. Whether it's your car or motorcycle, we can handle them with care in any roadside situation.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Fleet <strong>Towing</strong></h2>
      <p>There's no vehicle that is too heavy for us! Whether it's a bus or a fleet of cars, our team is ready with our heavy duty tow trucks.</p>
    </div>	
  </div>
  <div class="col-md-6">
    <div id="redbox">
      <h2>Corporate <strong>Towing</strong></h2>
      <p>Run a transport company? We keep your business from losing time and money being stuck on the road. We give you priority and respond immediately when you call.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Roadside <strong>Assistance</strong></h2>
      <p>Tyre puncture or battery issue? No problem! We offer you on the spot jumpstart, battery and tyre change services. We also deliver gas and fuel if required.</p>
    </div>	
  </div>
</div>
</div>
<a title="web analytics" href="http://statcounter.com/"
target="_blank"><img
src="//c.statcounter.com/11261793/0/25dc5651/0/" alt="web
analytics"></a>
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div id="aboutbox">
        <h3>About Us</h3>
        <p>We are the region's favorite vehicle towing and car carrier service provider. We pride ourselves as professionals and a "customer-first" company that aims to better serve the people of Kota Kinabalu.</p>
        <p>As vehicle owners ourselves, we understand that your vehicle is valuable to you and it's our priority to handle them with care. We take every case seriously and efficiently to provide you with the safest, fastest towing experience possible.</p>
        <p><strong>Towing Service Kota Kinabalu</strong> is built on reputation and we intend to meet your every expectations. Trust us and you will be in good hands.</p> 
        </div>
      </div>
      <div class="col-md-4">
        <div id="testimonialbox">
           <h4>Arrived Quickly. Great Customer Service!</h4>
           <p>I just wanted to say thank you for the prompt service. Mr. Lo was very friendly and really professional. This is my first time calling for towing and I was a little worried, but the experience was completely painless and the price is OK.</p>
           <p>I would definitely call Towing Service Kota Kinabalu again if I ever needed. Thanks. :)</p>
           <hr>
           <b>Linda Yong, Penampang</b>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <h3>Need <b>Help</b>?</h3>
  <p><%= link_to "CALL: 013 881 0882", "tel:+60138810882", class: "btn btn-lg btn-danger" %></p>
</div>
