<% title "24 Hour Towing Service in Kota Kinabalu | Towing Service KK" %>
<% description "Professional car towing service in Kota Kinabalu. We offer reliable accident & roadside assitance whenever you need them." %>

<div class="jumbotron">
  <div id="hero" class="container">
    <h1>24 Hour Towing Service in Kota Kinabalu</h1>
    <p>With so many car breakdowns and accidents in Kota Kinabalu each day, people need a reliable car towing service to help them out…</p>
    <p><%= link_to "CALL US NOW", 'tel:+60138810882', class: "btn btn-lg btn-danger" %></p>
    <p><i>Emergency Ready. Professional. Affordable.</i></p>
  </div>
</div>
<div class="container">
<div id="contentbox">
<div class="subtitle"><h2><span class="red">Fast and Safe Delivery</span> of Your Vehicle</h2></div>
<p>We are dedicated to provide you with professional roadside assistance and car towing services in Kota Kinabalu at affordable prices. Our team are very experienced in handling car accidents, and are committed to provide you with the safest, fastest towing experience possible. We are ready for every roadside situation and are sure to exceed your expectations. If you need a reliable towing service provider in Kota Kinabalu, you are at the right place.</p>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div id="redbox">
      <h2>Emergency <strong>Towing</strong></h2>
      <p>Need help quickly? We are emergency ready and are able to reach you quickly. Whether it's your car or motorcycle, we can handle them with care in any roadside situation.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Fleet <strong>Towing</strong></h2>
      <p>There's no vehicle that is too heavy for us! Whether it's a bus or a fleet of cars, our team is ready with our specialized heavy duty towing gears.</p>
    </div>	
  </div>
  <div class="col-md-6">
    <div id="redbox">
      <h2>Corporate <strong>Towing</strong></h2>
      <p></p>
    </div>
  </div>
  <div class="col-md-6">
    <div id="blackbox">
      <h2>Roadside <strong>Assistance</strong></h2>
      <p>Tyre puncture or battery issue? No problem! We offer you on the spot jumpstart and tyre change service. We could even deliver gas/fuel/oil if needed.</p>
    </div>	
  </div>
</div>
</div>
