<% title "Contact Us | Towing Service KK" %>
<% description "Get in touch with Towing Service KK." %>
<div id="blogfeed" class="container">
<h1>Contact Towing Service KK</h1>
<hr>
<%= render 'form' %>
</div>