<% title "Contact Us | Towing Service KK" %>
<% description "Get in touch with Towing Service KK." %>
<div id="blogfeed" class="container">
<h1>Contact Towing Service KK</h1>
<hr>
<%= render 'form' %>
<br>
<a title="hit counter" href="http://statcounter.com/"
target="_blank"><img
src="//c.statcounter.com/11265658/0/080b1888/1/" alt="hit
counter" style="border:none;"></a>
</div>