@media only screen and (max-width : 660px) {
  .mobile-visible {
      visibility: visible;
      display: inline;
  };

  .desktop-visible {
      visibility: hidden;
      display: none;
  };

  p {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 1.5;
  }

  .navbar-logo {
    padding: 15px;
    img {
      height: 40px;
    }
  }

  #hero {
      max-width: 970px;
  }

  #subnav {
    background: rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5) inset;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5) inset;
    padding: 15px 0;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #333;
    a {
      color: #FFFFFF;
    }
  }

  .jumbotron {
    background: image-url('towing-service-kk-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: 50%;
    text-align: center;
    color: #FFF;
    h1 {
      font-family: "PT Sans", sans-serif;
      -webkit-text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      margin: 32px 0;
      line-height: 1.15;
      font-weight: bold;
    }
    p {
      line-height: inherit;
      -webkit-text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      font-size: 22px;
      margin-bottom: 30px;
    }
    .btn-danger {
      -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      margin-bottom: 30px;
    }
  }

  #redbox {
    background-color: #d9534f;
    padding: 25px;
    margin: 0 0 25px 0;
    color: #FFF;
    h2 {
      font-family: "PT Sans", sans-serif;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }
  }

  #blackbox {
    background-color: #333;
    padding: 25px;
    margin: 0 0 25px 0;
    color: #FFF;
    h2 {
      font-family: "PT Sans", sans-serif;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }
  }

  #testimonialbox {
    background-color: #FFF;
    color: #333;
    margin: 0 0 30px 0;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    h4 {
      color: #d9534f;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 15px 0;
    }
  }

  #testimonial-sidebar {
    background-color: #5cb85c;
    color: #FFF;
    padding: 30px;
    margin-top: 30px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    h4 {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 15px 0;
    }
    p {
      font-size: 16px;
    }
  }

  #page {
    padding: 35px 15px;
    h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 0 0 20px 0;
      line-height: 1.15;
    }
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 30px 0 15px 0;
      line-height: 1.15;
    }
  }

  #contact-hero {
      max-width: 100%;
  }

}

@media only screen and (min-width : 661px) {
  .mobile-visible {
      visibility: hidden;
      display: none;
  };

  .desktop-visible {
      visibility: visible;
      display: inline;
  };

  p {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px 0;
  }

  .navbar-logo {
    padding: 15px 0;
  }

  .navbar-nav {
    margin: 20px 0 0 0;
  }

  #hero {
      max-width: 60%;
  }

  #subnav {
    background: rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5) inset;
    box-shadow: 0 2px 2px rgba(0,0,0,0.5) inset;
    padding: 15px 0;
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #333;
    a {
      color: #FFF;
    }
  }

  .jumbotron {
    background: image-url('towing-service-kk-bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-x: 50%;
    text-align: center;
    color: #FFF;
    h1 {
      font-family: "PT Sans", sans-serif;
      -webkit-text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      text-shadow: 1px 1px 8px rgba(0,0,0,0.7);
      margin: 32px 0;
      line-height: 1.15;
      font-weight: bold;
    }
    p {
      -webkit-text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      text-shadow: 1px 1px 8px rgba(0,0,0,0.7);
      line-height: inherit;
      font-size: 26px;
      margin-bottom: 30px;
    }
    .btn-danger {
      -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
      box-shadow: 1px 1px 8px rgba(0,0,0,0.7);
      margin-bottom: 30px;
    }
  }

  #redbox {
    background-color: #d9534f;
    padding: 25px;
    margin: 0 0 25px 0;
    color: #FFF;
    min-height: 200px;
    h2 {
      font-family: "PT Sans", sans-serif;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }
  }

  #blackbox {
    background-color: #333;
    padding: 25px;
    margin: 0 0 25px 0;
    color: #FFF;
    min-height: 200px;
    h2 {
      font-family: "PT Sans", sans-serif;
      margin: 0 0 15px 0;
      text-transform: uppercase;
    }
  }

  #testimonialbox {
    background-color: #FFF;
    margin: 30px 0;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    h4 {
      color: #d9534f;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 15px 0;
    }
    p {
      font-size: 16px;
    }
  }

  #testimonial-sidebar {
    background-color: #5cb85c;
    color: #FFF;
    padding: 30px;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    h4 {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.25;
      margin: 0 0 15px 0;
    }
    p {
      font-size: 16px;
    }
  }

  #page {
    padding: 35px 15px;
    h1 {
      font-size: 36px;
      font-weight: bold;
      margin: 0 0 20px 0;
      line-height: 1.15;
    }
    h2 {
      font-size: 26px;
      font-weight: bold;
      margin: 30px 0 15px 0;
      line-height: 1.15;
    }
  }

  #contact-hero {
      max-width: 60%;
  }
}