<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
  <div class="container">

  © 2017 Towing Service KK - 24 Hour Towing Service in Kota Kinabalu.
  </div>
</div>